* {
	padding: 0;
	margin: 0;
	list-style-type: none;
	font-family: 'Armata', sans-serif;
}

.navbar {
	position: sticky;
	top: 0;
	left: 0;
	height: 4rem;
}

.bg {
	background: #333;
}

.navbar ul li {
	color: #fff;
}

.navbar ul {
	width: 100%;
}

.width {
	width: 100%;
}

.bold {
	font-weight: bold;
}

.pointer {
	cursor: pointer;
}

.d-flex {
	display: flex;
}

.justify-center {
	justify-content: center;
}

.space-between {
	justify-content: space-between;
}

.space-around {
	justify-content: space-around;
}

.align-center {
	align-items: center;
}

.flex-column {
	flex-direction: column;
}

.canvas {
	border-bottom: 1px solid #7777;
}

.display-none {
	display: none;
}

.btn {
	background: #505050;
	cursor: pointer;
	color: white;
	padding: 10px;
	transition: 0.5s;
	border: none;
}

.btn:hover {
	transition: 0.5s;
	background: #6D6D6D;
}

a {
	background: #505050;
	cursor: pointer;
	color: white;
	padding: 10px;
	text-decoration: none;
}

.filtros {
	color: #fff;
}

.mt-3 {
	margin-top: 3px;
}

.botonera {
	width: 100%;
}
