* {
	padding: 0;
	margin: 0;
	list-style-type: none;
	font-family: 'Armata', sans-serif;
}

.navbar {
	background: #333;
	position: sticky;
	top: 0;
	left: 0;
	height: 4rem;
}

.navbar ul li {
	color: #fff;
}

.navbar ul {
	width: 100%;
}

.max-width {
	max-width: 100%;
}

.bold {
	font-weight: bold;
}

.pointer {
	cursor: pointer;
}

.d-flex {
	display: flex;
}

.justify-center {
	justify-content: center;
}

.space-between {
	justify-content: space-between;
}

.space-around {
	justify-content: space-around;
}

.align-center {
	align-items: center;
}

.flex-column {
	flex-direction: column;
}

.canvas {
	border-bottom: 1px solid black;
}

.display-none {
	display: none;
}

button {
	background: #60B7FF;
	border: 1px solid #1E9AFF;
	cursor: pointer;
	color: white;
	padding: 10px;
}

a {
	background: #60B7FF;
	border: 1px solid #1E9AFF;
	cursor: pointer;
	color: white;
	padding: 10px;
	text-decoration: none;
}

.mt-3 {
	margin-top: 3px;
}
