* {
	margin: 0;
	padding: 0;
	list-style-type: none;
}

.d-none-spinner {
	display: none;
}

.d-none {
	display: none;
}

h1, h2, h3 {
	text-align: center;
}

body {
	background-color: #ebebeb;
}

body, html {
  height: 100%;
}

/* Navbar */

nav {
	position: sticky;
	background: #333;
	top: 0;
	left: 0;
	padding: 20px;
	display: flex;
	z-index: 10;
	/*animation: opacity 1s;*/
}

nav p {
	color: white;
	cursor: pointer;
}

nav ul {
	display: flex;
	justify-content: space-around;
	width: 50%;
}

nav ul li a {
	padding: 10px;
	color: #fff;
	text-decoration: none;
	transition: 1s;
	background: inherit;
}

nav ul li a:hover {
	background: #7777;
	transition: 1s;
}

.dropdown ul {
	display: flex;
	justify-content: center;
	animation: dropdown 0.3s;
	transform-origin: top center;
	background-color: #424242;
}

.dropdown ul li {
	margin: 10px;
}

.dropdown ul li a {
	color: white;
	text-decoration: none;
}

@keyframes dropdown {
  0% {
    transform: scaleY(0);
  }
 /* 50% {
    transform: scaleY(1.1);
  }*/
  100% {
    transform: scaleY(1);
  }
}

/* Contenedor */

.content {
	display: flex;
	flex-direction: column;
	align-items: center;
	margin-top: 10px;
}

/* Película */

.movie h1 {
	font-family: sans-serif;
	margin: 25px;
}

/* Cuenta regresiva */

.timer {
	margin: 25px;
	border: 1px solid #7777;
	border-radius: 5px;
	padding: 25px;
	animation-name: opacity;
	animation-duration: 2s;
	font-weight: bold;
	font-family: sans-serif;
	color: #2b2b2b;
	background-color: white;
}

.timer h2 {
	text-align: center;
}

@keyframes opacity {
	from { opacity: 0; }
	to { opacity: 1; }
}

/* Parallax */

/*.parallax {
	height: 550px;
	width: 100%;
	display: flex;
	justify-content: center;
}*/

.parallax {
	background-image: url("../images/cielo.jpg");
	height: 100%; 
	background-attachment: fixed;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}

.parallax-2 {
	background-image: url("../images/campo.jpg");
  	min-height: 500px; 
	background-attachment: fixed;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}

/*.parallax {
	background-image: url("../images/cielo.jpg");
	min-height: 500px; 
	background-attachment: fixed;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}*/

.layer {
	position: absolute;
	height: 100%;
    width: 100%;
	background-repeat: no-repeat;
	background-size: contain;
}

.layer-4 {        
	background-image: url("../images/oveja.png"); 
	z-index: 2;
	animation: sheep 5s infinite linear;
}


.layer-1 {        
	background-image: url("../images/pasto2.png");  
	z-index: 3;
	animation: movement 10s infinite linear;
	background-attachment: fixed;
	background-position: center;
	background-size: cover;
}

@keyframes sheep {
	0% { transform: scale(0.8); }
	50% { transform: scale(0.7); }
	100% { transform: scale(0.8); }
}

@keyframes movement {
    0% { background-position-x: 0px; }
    100% { background-position-x: -1500px; }
}

/*@keyframes dia {
	from { background-image: url("../images/cielo.jpg"); z-index: 0 }
	to {  background-image: url("../images/cielo2.jpg"); z-index: 1 }
}*/

/*@keyframes noche {
	from { background-image: url("../images/cielo2.jpg"); z-index: 0 }
	to {  background-image: url("../images/cielo.jpg"); z-index: 1 }
}*/

/* Spinner */

.box-spinner {
	height: 100%;
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
}

.spinner {
	border: 5px solid #fff;
	border-radius: 50%;
	border-top: 5px solid #333;
	width: 60px;
	height: 60px;
	animation: spinner 2s linear infinite;
}

@keyframes spinner {
	0% { transform: rotate(0deg); }
 	100% { transform: rotate(360deg); }
}

/* Cards */

.cards {
	display: flex;
	justify-content: space-around;
	/*border-top: 1px solid #7777;*/
	/*border-bottom: 1px solid #7777;*/
	margin: 30px;
}

.card {
	max-width: 20%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	transition: 1s ease-in-out;
	background: white;
	transform-style: preserve-3d;
	text-shadow: 5px 5px 5px #333;
	color: rgb(68, 68, 68);
}

.card img {
	object-fit: cover;
	width: 100%;
	height: 90%;
}

.card:hover {
	transition: 1s;
	/* transform: scale(1.1); */
	box-shadow: 10px 10px 10px #333;
	transform: perspective(600px) rotateX(25deg);
	font-size: 1.5rem;
	color: #333;
}

.card p {
	margin-bottom: 20px;
	font-weight: bold;
	transform-style: preserve-3d;
	transform: perspective(500px) translateZ(50px);
}

/* Slider */

.slider-container {
	/*padding-top: 20px;*/
	max-width: 50%;
	margin: 0 auto;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.slider-container button {
	padding: 20px;
	border: none;
	color: white;
	background-color: #333;
	cursor: pointer;
	text-decoration: none;
}

.slider-container button:active {
	background-color: #7777;
}

.slide img {
    width:  700px;
    height: 400px;
    object-fit: cover;
    border: 1px solid #777;
} 

.anim-slide {
 	animation-name: brillo;
 	animation-duration: 0.5s;
}

.slider-container h1 {
	margin: 10px;
	font-style: italic;
	color: #333;
}

@keyframes brillo {
	from { filter: brightness(200%); }
	to { filter: brightness(100%); }
}

/* Formulario */

.box-form {
	display: flex;
	justify-content: center;
	padding: 50px;
}

form {
	/*padding: 20px;*/
	/*margin: 0 auto;*/
	width: 25%;
	display: flex;
	flex-direction: column;
	font-weight: bold;
	background-color: #F0F0F0;
	border: 1px solid #7777;
	align-items: center;
	/*animation-name: opacity;*/
	animation-name: translate;
	animation-duration: 1s;
}

form input {
	background-color: white;
	transition: 1s;
	border: 1px solid #7777;
	padding: 10px;
	outline: none;
}

form label {
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: 10px;
}


form input:hover {
	background-color: #E1F3FF;
	transition: 1s;
}

form input:focus {
	border: 1px solid #014C7E;
	border-radius: 10px;
}

form textarea {
	margin: 5px;
	resize: none;
	transition: 1s;
	border: 1px solid #7777;
	padding: 25px;
	outline: none;
}

form textarea:hover {
	background-color: #E1F3FF;
	transition: 1s;
}

form textarea:focus {
	border: 1px solid #014C7E;
	border-radius: 10px;
}

form a {
	padding: 20px;
	border: none;
	color: white;
	background-color: #333;
	cursor: pointer;
	text-decoration: none;
}

form a:hover {
	background-color: #282828;
}

form a:active {
	background-color: #7777;
}

.title {
	width: 100%;
	background-color: #7777;
	display: flex;
	justify-content: center;
	align-items: center;
}

.title p {
	padding: 25px;
}

@keyframes translate {
	0% { transform: translateX(1500px); }
	100% { transform: translateX(50); }
}

/* Acordeón */

.box-acordeon {
	margin: 30px;
}

.box-acordeon h3 {
	margin: 10px;
}

.acordeon {
  background-color: #fff;
  color: #333;
  cursor: pointer;
  padding: 15px;
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
  font-size: 20px;
  transition: 0.5s;
}

.active, .acordeon:hover {
	background-color: lightblue;
}

.info-acordeon {
	overflow: hidden;
	padding: 0px 35px 35px;
	background: #fff;
	animation: dropdown 0.4s;
	transform-origin: top center;
	width: 400px;
	transition: 0.5s;
	text-align: center;
}

.info-acordeon p {
	margin: 30px;
	font-weight: bold;
}

.info-acordeon img {
	width: 100%;
	height: 100%;
    object-fit: contain;
	transition: 0.5s;
}

.info-acordeon img:hover {
	transform: scale(1.05);
	transition: 0.5s;
	box-shadow: 10px 10px 10px black;
}
