* {
	margin: 0;
	padding: 0;
	list-style-type: none;
}

.d-none {
	display: none;
}

h1 {
	text-align: center;
}

/* Navbar */

nav {
	position: sticky;
	background: #333;
	top: 0;
	left: 0;
	padding: 20px;
	display: flex;
	z-index: 10;
}

nav p {
	color: white;
	cursor: pointer;
}

nav ul {
	display: flex;
	justify-content: space-around;
	width: 50%;
}

nav ul li a {
	padding: 10px;
	color: #fff;
	text-decoration: none;
	transition: 1s;
	background: inherit;
}

nav ul li a:hover {
	background: #7777;
	transition: 1s;
}

.dropdown ul {
	display: flex;
	justify-content: center;
	animation: dropdown 0.3s;
	transform-origin: top center;
	background-color: #424242;
}

.dropdown ul li {
	margin: 10px;
}

.dropdown ul li a {
	color: white;
	text-decoration: none;
}

@keyframes dropdown {
  0% {
    transform: scaleY(0);
  }
  50% {
    transform: scaleY(1.1);
  }
  100% {
    transform: scaleY(1);
  }
}

/* Contenedor */

.content {
	display: flex;
	flex-direction: column;
	align-items: center;
	margin-top: 50px;
}

/* Cuenta regresiva */

.timer {
	margin: 25px;
	border: 1px solid #7777;
	border-radius: 5px;
	padding: 25px;
	animation-name: opacity;
	animation-duration: 2s;
	font-weight: bold;
	font-family: sans-serif;
	color: #2b2b2b;
}

.timer h2 {
	text-align: center;
}

@keyframes opacity {
	from { opacity: 0; }
	to { opacity: 1; }
}

/* Parallax */

.parallax {
	margin-top: 25px;
	max-width: 75%;
	animation-name: opacity;
	animation-duration: 1s;
}

.parallax img {
	width: 100%;
}

.parallax img:hover {

}

/* Cards */

.cards {
	display: flex;
	justify-content: space-around;
	/*border-top: 1px solid #7777;*/
	/*border-bottom: 1px solid #7777;*/
	margin: 30px;
}

.card {
	max-width: 20%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	/*border: 1px solid #7777;*/
	transition: 1s;
	/*border-left: 1px solid #7777;*/
	/*border-right: 1px solid #7777;*/
	border: 1px solid #7777;
	background: white;
}

.card img {
	width: 100%;
}

.card:hover {
	transition: 1s;
	transform: scale(1.1);
	box-shadow: 10px 10px 10px #333;
}

.card p {
	margin-bottom: 20px;
	font-weight: bold
}

/* Slider */

.slider-container {
	/*padding-top: 20px;*/
	max-width: 50%;
	margin: 0 auto;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.slider-container button {
	padding: 20px;
	border: none;
	background-color: dodgerblue;
	cursor: pointer;
	color: white;
	font-weight: bold;
}

.slide img {
    width:  700px;
    height: 400px;
    object-fit: cover;
    border: 1px solid #777;
} 

.anim-slide {
 	animation-name: opacity;
 	animation-duration: 1s;
}

.slider-container h1 {
	margin: 10px;
	font-style: italic;
	color: #333;
}

/* Formulario */

.box-form {
	display: flex;
	justify-content: center;
	padding: 50px;
}

form {
	/*padding: 20px;*/
	/*margin: 0 auto;*/
	width: 25%;
	display: flex;
	flex-direction: column;
	font-weight: bold;
	background-color: #F0F0F0;
	border: 1px solid #7777;
	align-items: center;
	animation-name: form;
	animation-duration: 1s;
}

form input {
	background-color: white;
	transition: 1s;
	border: 1px solid #7777;
	padding: 10px;
	outline: none;
}

form label {
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: 10px;
}


form input:hover {
	background-color: #E1F3FF;
	transition: 1s;
}

form input:focus {
	border: 1px solid #014C7E;
	border-radius: 10px;
}

form textarea {
	margin: 5px;
	resize: none;
	transition: 1s;
	border: 1px solid #7777;
	padding: 25px;
	outline: none;
}

form textarea:hover {
	background-color: #E1F3FF;
	transition: 1s;
}

form textarea:focus {
	border: 1px solid #014C7E;
	border-radius: 10px;
}

form a {
	padding: 20px;
	border: none;
	color: white;
	background-color: #333;
	cursor: pointer;
	text-decoration: none;
}

form a:hover {
	background-color: #282828;
}

form a:active {
	background-color: #7777;
}

.title {
	width: 100%;
	background-color: #7777;
	display: flex;
	justify-content: center;
	align-items: center;
}

.title p {
	padding: 25px;
}

@keyframes form {
	0% { opacity: 0; }
	50% { opacity: 0.5; }
	100% { opacity: 1; }
}